@{
    ViewBag.Title = "DigiQueue";
}

@model HomeIndexVM

@*@if (Model.LoggedIn)
{
    <h1>Hej @Model.DigiMaster.Username</h1>
}*@

<div class="containerIndex" style=" background-image: url('/imgs/academy4.jpg'); background-repeat:no-repeat;">
    <div id="createClassroomDiv" class="digidiv">
        @if (Model.LoggedIn)
        {
            @Html.Partial("_Register", Model.Register)
        }
        else
        {
            @Html.Partial("_Login", Model.DigiMaster)
        }
    </div>


    <div id="findClassroomDiv" class="digidiv">
        @if (Model.LoggedIn)
        {
            <div id="viewHeader">
    <img src="~/imgs/meny2.png" /><br /> Menyval</div>
            <form asp-controller="Classroom" asp-action="DigiMaster">
                <input type="submit" value="Gå till ditt klassrum" />
            </form>
            <form asp-controller="Classroom" asp-action="Stats">
                <input type="submit" value="Statistik" />
            </form>
            <form asp-controller="Home" asp-action="SignOut">
                <input type="submit" value="Logga Ut" />
            </form>

        }
        else
        {
            @Html.Partial("_FindClassroom", Model.DigiStudent)
                
        }
    </div>
</div>