@{
    ViewBag.Title = "DigiQueue";
}

@model HomeIndexVM

@*@if (Model.LoggedIn)
{
    <h1>Hej @Model.DigiMaster.Username</h1>
}*@

<div class="containerIndex" style=" background-image: url('/imgs/academy4.jpg'); background-repeat:no-repeat;">
    <div id="createClassroomDiv" class="digidiv">
        @if (Model.LoggedIn)
        {
            @Html.Partial("_Register", Model.Register)
        }
        else
        {
            @Html.Partial("_Login", Model.DigiMaster)
        }
    </div>


    <div id="findClassroomDiv" class="digidiv">
        @Html.Partial("_FindClassroom", Model.DigiStudent)
    </div>
</div>