@{
    ViewBag.Title = "DigiQueue";
}

@model HomeIndexVM

@if (Model.LoggedIn)
{
    <h1>Hej @Model.DigiMaster.Username</h1>
}

<div class="container">
    <div id="createClassroomDiv" class="digidiv">
        @if (Model.LoggedIn)
        {
            //@Html.Partial("_CreateClassroom", Model.CreateClassroom)
            @Html.Partial("Register", Model.Register)
        }
        else
        {
            @Html.Partial("_Login", Model.DigiMaster)
        }
    </div>


    <div id="findClassroomDiv" class="digidiv">
        @Html.Partial("_FindClassroom", Model.DigiStudent)
    </div>
</div>