@model HomeIndexVM

@*startsida
    -- digimaster login
    if(login)
    {
    -- partial digimaster create digital classroom
    }
    -- digistudent find digital classroom
*@

<div id="createClassroomDiv">
@if (Model.LoggedIn)
{
    @Html.Partial("_CreateClassroom", Model.CreateClassroom)
}
else
{
    @Html.Partial("_Login", Model.DigiMaster)
        
}


</div>


<div id="findClassroomDiv">
    @Html.Partial("_FindClassroom", Model.DigiStudent)
</div>