@model HomeIndexVM

<div class="container">
    <div id="createClassroomDiv" class="digidiv">
        @if (Model.LoggedIn)
        {
            @Html.Partial("_CreateClassroom", Model.CreateClassroom)
        }
        else
        {
            @Html.Partial("_Login", Model.DigiMaster)
        }
    </div>


    <div id="findClassroomDiv" class="digidiv">
        @Html.Partial("_FindClassroom", Model.DigiStudent)
    </div>
</div>