@model HomeIndexCreateClassroomVM
<form asp-controller="Home" asp-action="CreateClassroom">
    <input asp-for="Name" placeholder="Ange klassrumsnamn" />
    
    <input type="submit" value="Skapa klassrummet" />
</form>
