@model HomeIndexCreateClassroomVM
<form asp-controller="Home" asp-action="CreateClassroom">
    <input asp-for="Name" placeholder="Ange klassrumsnamn" />
    <span asp-validation-for="Name"></span>

    <br />
    
    <input type="submit" value="Skapa klassrummet" />
</form>
