@model HomeIndexFindClassroomVM
<form asp-controller="Home" asp-action="FindClassroom">
    <input type="text" asp-for="Alias" placeholder="Alias"/>
    <br />
    <span asp-validation-for="Alias"></span>


    <br />

    @Html.DropDownList("DropDownListKlasser",
                    new SelectList(Model.Classrooms, "Id", "Name"))
    @*<select>
        @foreach (Classroom classroom in Model.Classrooms)
        {
            <option id="@classroom.Id" value="@classroom.Name"></option> 

        }
    </select>*@

    <br />
    <input type="submit" value="Gå in i klassrummet"/>
</form>

