@model HomeIndexDigiStudentVM
<form>
    <input type="text" asp-for="Alias" placeholder="Alias"/>
    <select>
        <option value="Vad som">Vad som</option>
    </select>
    <input type="submit" value="Gå in i klassrummet"/>
</form>
