@model HomeIndexFindClassroomVM
<form asp-controller="Classroom" asp-action="DigiStudent">
    <input type="text" asp-for="Alias" placeholder="Alias"/>

    <br />

    @Html.DropDownList("DropDownListKlasser",
                    new SelectList(Model.Classrooms, "Id", "Name"),
                    "Välj klassrum")
    @*<select>
        @foreach (Classroom classroom in Model.Classrooms)
        {
            <option id="@classroom.Id" value="@classroom.Name"></option> 

        }
    </select>*@

    <br />
    <input type="submit" value="Gå in i klassrummet"/>
</form>
