@model HomeIndexLoginVM

    <div id="digiMasterRub">Lärare</div>
<form asp-controller="Home" asp-action="Index">
    <input asp-for="Username" placeholder="Username" />
    <br />
    <span asp-validation-for="Username"></span>
    <br />
    <input asp-for="Password" placeholder="Password" />
    <br />
    <span asp-validation-for="Password"></span>
    
    <input type="submit" value="Logga in" />
</form>

