@model HomeIndexLoginVM

    <div id="viewHeader"><img src="~/imgs/avatar.png"  /><br />
    Lärare</div>
<form asp-controller="Home" asp-action="Login">
    <input asp-for="Username" placeholder="Username" />
    <br />
    <span asp-validation-for="Username"></span>
    <br />
    <input asp-for="Password" placeholder="Password" />
    <br />
    <span asp-validation-for="Password"></span>
    
    <input type="submit" value="Logga in" />
</form>

