<div>
    <h4>Chatbox</h4>
    <div class="container">
        <div>
<textarea id="chatBox" rows="10" cols="50" readonly="readonly"></textarea>
        </div>

        <div class="containerContent">
            <input id="messageBox" type="text" placeholder="Message">
            <br />
            <button id="chatBoxButton">Send</button>
        </div>
    </div>
</div>