<div class="container">
    <div>
        <h4>Chatbox</h4>
<textarea id="chatBox" rows="10" cols="50" readonly="readonly"></textarea>
    </div>

    <div class="containerContent" style="margin-top:40px;">
        <textarea id="messageBox" rows="6" cols="50" placeholder="Meddelande" style="width:150px;"></textarea>
        <br />
        <button id="chatBoxButton">Send</button>
    </div>
</div>