<div class="containerContentRow2">
    <h4>Info från lärare</h4>
    <div class="container">
        <div>
<textarea id="infoBox" rows="10" cols="50" readonly="readonly"></textarea>
        </div>
    </div>
</div>
