<div>
    <h4> Vad har du för problem?</h4>
<textarea rows="10" cols="40">
Test
hej
hej 
lå
</textarea>
    <br />
    <input type="text" name="Location" value="Var befinner du dig?">
    <br />

    <input type="submit" value="STÅ I KÖ" id="queueBtn" /> @*denna skall vara intryck och upptryck knapp*@
</div>