<div>
    <h4>Vänta på din tur!</h4>

<textarea rows="10" cols="30"  readonly="readonly">
            Adam, Plats: Jenning, Vi har problem med SQL
            Eva, Plats: Jenning, Vi har problem med JavaScript
            Karl, Plats: Jenning, Vi har problem med MVC
        </textarea>
</div>