<div class="container">
    <div class="containerContentRow2">
        <div>
            <h4>Info från lärare</h4>
<textarea id="infoBox" rows="10" cols="50" readonly="readonly"></textarea>
        </div>
    </div>
</div>
