<div>
    <h4>Chatbox</h4>

<textarea id="chatBox" rows="10" cols="50" readonly="readonly"></textarea>
    <br />
    <input id="messageBox" type="text" placeholder="Message">
    <br />
    <button id="chatBoxButton">Send</button>
</div>