<div>
    <h4> Vad har du för problem?</h4>
<textarea id="descriptionText" rows="10" cols="40"></textarea>
    <br />
    <input id="locationText" type="text" name="Location" placeholder="Var befinner du dig?">
    <br />

    <button id="problemButton">Add</button>
</div>