<div>
    <h3>Info</h3>
    <textarea rows="10" cols="50" readonly="readonly"></textarea>
    <br />
    <input type="text" id="teacherMessageBox" placeholder="Meddelande" />
    <button id="sendMessageButton">Skicka</button>
</div>