<div>
    <h3>Waiting list</h3>
    <select id="teacherWaitingList" size="5" >
        
    </select>
    @*<textarea id="teacherWaitingList" rows="10" cols="50" readonly="readonly"></textarea>*@
    <br />
    <button id="removeFromWaitingList">Ta bort från kölistan</button>
</div>