<div class="containerContentRow2">
    <h3>Waiting list</h3>
    <select id="teacherWaitingList" rows="10" cols="25" size="8" style="width:960px;"></select>
    @*<textarea id="teacherWaitingList" rows="10" cols="50" readonly="readonly"></textarea>*@
    <br />
    <button id="removeFromWaitingList" style="width:200px;">Ta bort från kölistan</button>
</div>