<div class="container">
    <div>
        <h3>Info</h3>

        <textarea id="infoBox" rows="10" cols="25" readonly="readonly"></textarea>
    </div>


    <div class="containerContent" style="position:relative; margin-top:125px;">
        <input type="text" id="teacherMessageBox" placeholder="Meddelande" />
        <br />
        <button id="sendInfoButton">Skicka</button>
    </div>
</div>
