body {
    background-image: url('../imgs/academy1.jpg');
    background-repeat: no-repeat;
    margin: 0px;
    font-family: 'Montserrat:50', sans-serif;
    color: #3f3f3f;
    /*font-weight: 500;*/
    /*families: ["Montserrat:100,100italic,200,200italic,300,300italic,400,400italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic","Roboto:300,regular,500"]*/
}

textarea {
    resize: none;
    font-family: 'Montserrat:50', sans-serif;
    background: white;
}

input[type=text], input[type=password], select, textarea {
    /*width: 250px;*/
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: 'Montserrat:50', sans-serif;
    background-color: white;
}

input[type=submit], button {
    width: 150px;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

    input[type=submit]:hover {
        background-color: #45a049;
    }

#wrapper {
    height: 700px;
    background-color: #fafafa;
    padding-top: 50px;
    margin: 8%;
    /*opacity: 0.9;*/
    /*background: #fafafa; /* For browsers that do not support gradients */
    background: rgb(250, 250, 250);
    background: rgba(250, 250, 250, 0.80);
    border-radius: 10px;
}

.navbar-header {
    width: 100%;
    background-color: white;
    text-align: center;
    border: 0px;
}

.containerIndex {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-right: 5%;
    padding-left: 5%;
}

.containerContent {
    padding: 20px;
    padding: 20px;
}

.containerContentRow2 {
    padding-right: 65px;
    padding-left: 65px;
}

.digidiv {
    display: flex;
    flex-direction: column;
    /*margin-left: 10%;
    margin-right: 10%;*/
}

.containerClassroom {
    display: flex;
    flex-direction: row;
    justify-content: left;
}

#classroomid {
    font-size: 36px;
}

#viewHeader {
    font-size: 20px;
    color: #45a049;
    margin-bottom:20px;
    text-transform: uppercase;
    font-weight:600;
}
    #viewHeader > img {
        border-radius: 50%;
        background-color: white;
        width: 100px;
        padding: 5px;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
        margin-bottom: 10px;
        opacity:1.0;
  
    }

#createClassroomDiv, #findClassroomDiv {
    /*background-image: url('../imgs/academy2.jpg');*/
    /*background-color: #fafafa;*/
    background: rgb(250, 250, 250);
    background: rgba(250, 250, 250, 0.95);
    /*opacity: 0.9;*/
    background-size: auto;
    height: 400px;
    width: 400px;
    padding-top: 10%;
    padding-bottom: 17%;
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 5%;
    border-radius: 10px;
}


.footer {
    height: 60px;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #45a049;
    color: white;
    text-align: right;
    padding-top: 20px;
    font-size: 12px;
}

#teacherWaitingList {
    width: 200px;
}

#errorDesign {
    font-size: 80px;
    color: #3f3f3f;
    text-shadow: -1px 0 #3f3f3f, 0 1px #3f3f3f, 1px 0 #3f3f3f, 0 -1px #3f3f3f;
}

#sortButtonsDiv {
    margin-right: 100px;
}

#statsRub {
    margin-top: 50px;

}