body {
    font-family: 'Montserrat:50', sans-serif;
    /*font-weight: 500;*/
    /*families: ["Montserrat:100,100italic,200,200italic,300,300italic,400,400italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic","Roboto:300,regular,500"]*/
}
.navbar-header {
    
    width: 100%;
    background-color: white;
    text-align: center;
}
.containerIndex {
    display: flex;
    flex-direction: row;
    justify-content: center;
 
}
.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-right: 10%;
    padding-left: 10%;
}

.containerContent {
    padding: 20px;
    padding: 20px;
    margin-right: 80px;
   
}
.containerContentRow2 {
    padding-right: 110px;
    padding-left: 110px;
}
.digidiv {
    display: flex;
    flex-direction: column;
    /*margin-left: 10%;
    margin-right: 10%;*/
}
#wrapper {
    height: 700px;
    background-color: #fafafa;
}
.containerClassroom {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#classroomid {
    font-size: 36px;
}

#digiMasterRub, #digiStudentRub {
        margin-bottom: 60px;
        font-size: 60px;
        color: white;
        font-weight: 500;
        text-transform: uppercase;
        text-shadow: 0px 2px 16px grey;
    }

#createClassroomDiv {
    background-image: url('../imgs/academy2.jpg');
    background-size: auto;
    height: auto;
    width: 1000px;
    padding-top: 10%;
    padding-bottom: 17%;
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#findClassroomDiv {
    background-image: url('../imgs/academy1.jpg');
    background-size: auto;
    height: auto;
    width: 1000px;
    padding-top: 10%;
    padding-bottom: 17%;
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
}

input[type=text], input[type=password], select, textarea {
    /*width: 250px;*/
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit], button {
    width: 150px;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

    input[type=submit]:hover {
        background-color: #45a049;
    }

.footer {
    height:50px;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #45a049;
    color: white;
    text-align: center;
}
#teacherWaitingList {
    width: 200px;
}




