.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20%;
    margin-bottom: 20%;
}

.digidiv {
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    margin-right: 10%;
}

.containerClassroom {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#myChart{
    width: 200px;
    height: 200px;
}
