@model ClassroomDigiMasterVM

<h1>Klassrum</h1>
<label>@Model.Classroom.Name</label>
<div class="containerClassroom">
    @Html.Partial("_TeacherChatBox")
    @Html.Partial("_TeacherWaitingList")
    @Html.Partial("_TeacherInfoBox")
</div>
@section scriptsSection
    {
    <script src="~/js/signalr-client-1.0.0-alpha2-final.min.js"></script>
    <script>
        $(document).ready(
            function () {
                let connection = new signalR.HubConnection('/digihub');
                connection.start();
                $("#sendInfoButton").click(
                    function () {
                        let message = $("#teacherMessageBox").val();
                        connection.invoke('InfoSend', message);
                    });

                connection.on('onInfoSend', data => {
                    $("#infoBox").append(data + "\n");
                    $("#teacherMessageBox").val("");
                    $("#infoBox").scrollTop($("#infoBox")[0].scrollHeight);
                });

                $("#removeFromWaitingList").click(() => {
                    let aliasToRemove = $("#teacherWaitingList").val(); //selecteditem;
                        connection.invoke('DeleteWaitingListItem', aliasToRemove);
                });

                connection.on('onDeleteWaitingListItem', data => {
                    let json = json.parse(data);
                    alert(json);
                    for (var i = 0; i < json.length; i++)
                    {
                        $("#teacherWaitingList").append('<option value="'+json[i]+'">'+'test'+json[i]+'</option>');
                    }
                })

                connection.on('onUpdateWaitingListItem', data => {
                    $("#teacherWaitingList").html("");
                    var jsonObj = JSON.parse(data);
                    for (var i = 0; i < jsonObj.length; i++) {
                        $("#teacherWaitingList").append("<option value='" + jsonObj[i].Alias + "'>" + jsonObj[i].Alias + " " + jsonObj[i].Location + " " + jsonObj[i].Description + "</option>");
                    }
                });
            }
        );
    </script>
}