<div id="wrapper">
    <div class="container">
        <div id="sortButtonsDiv">
            <h4>Sortera efter:</h4>
            <button id="language">Language</button>
            <button id="time">Time</button>
        </div>
        <div id="typeButtonsDiv">
            <h4>Typ av diagram:</h4>
            <button id="bar">Bar</button>
            <button id="pie">Pie</button>
        </div>
    </div>
    <center><h3 id="statsRub"></h3></center>
    <div>
        <canvas id="myChart" width="400" height="400"></canvas>
    </div>
</div>
<form asp-controller="Classroom" asp-action="DigiMaster">
    <input type="submit" value="Gå till ditt klassrum" />
</form>
<form asp-controller="Home" asp-action="SignOut">
    <input type="submit" value="Logga Ut" />
</form>


@section scriptsSection
    {

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
    <script>
        var ctx = document.getElementById("myChart").getContext('2d');
        var label = 'Amount of problems per language';
        var type = 'pie';
        var chartLabels = [];
        var chartData = [];
        var backgroundColors = ['#E0E9DF',
            '#C5DCC6',
            '#ABCFAC',
            '#90C392',
            '#75B678',
            '#5DAB61',
            '#45A049'];
        var borderColors = ['#E0E9DF',
            '#C5DCC6',
            '#ABCFAC',
            '#90C392',
            '#75B678',
            '#5DAB61',
            '#45A049'];
        var myChart = CreateChart(label, type, chartLabels, chartData);

        $("#time").click(function () {
            $.ajax({
                url: "/Classroom/GetTime",
                type: "GET",
                success: function (result) {
                    label = 'Amount of problems within time interval';
                    chartLabels = ["< 5 min", "5 - 15 min", "15 - 30 min", "30 - 1 timme", "1 - 2 timmar", "> 2 timmar", "Ej registrerat"];
                    chartData = JSON.parse(result);
                    myChart.destroy();
                    myChart = CreateChart(label, type, chartLabels, chartData);
                    $("#statsRub").text("Tidsåtgång per problem");
                }
            });

        });

        $("#language").click(function () {
            $.ajax({
                url: "/Classroom/GetLanguage",
                type: "GET",
                success: function (result) {
                    label = 'Amount of problems per language';
                    chartLabels = ["C#", "Java", "JavaScript", "CSS", "HTML", "SQL", "Övrigt"];
                    chartData = JSON.parse(result);
                    myChart.destroy();
                    myChart = CreateChart(label, type, chartLabels, chartData);
                    $("#statsRub").text("Antal rapporterade problem per språk");
                }
            });
        });

        $("#pie").click(function () {
            type = 'pie';
            myChart.destroy();
            myChart = CreateChart(label, type, chartLabels, chartData);
        });

        $("#bar").click(function () {
            type = 'bar';
            myChart.destroy();
            myChart = CreateChart(label, type, chartLabels, chartData);
        });

        function CreateChart(label, type, etiquette, stats) {
            return new Chart(ctx, {
                type: type,
                data: {
                    labels: etiquette,
                    datasets: [{
                        label: label,
                        data: stats,
                        backgroundColor: backgroundColors,
                        borderColor: borderColors,
                        borderWidth: 1
                    }]
                },
                options: {
                    responsive: true,
                    maintainAspectRatio: false
                }
            });
        }
    </script>

}